@use 'sass:map';
@use 'partials/reset';
@use 'mixin/mixins.scss';
@use 'partials/colors' as *;
@use 'partials/buttons';
@use 'partials/animation' as *;



header {
    background-color: map.get($colors, bgHero);
    padding: 1em 10vw;
    

    nav {
        @include mixins.between;

        p {
            font-weight: 800;
        }

        ul {
            @include mixins.between;
            list-style: none;
            width: 15vw;
            

            a {
                text-decoration: none;
                color: map.get($colors, font);
                font-size: 0.7em;

                &:hover {
                    color: map.get($colors, orangeBtn);
                }
            }
        }
    }

    .hero {
        display: flex;
        color: map.get($colors, font);
        

        h1{
            opacity: 0;
            color: black;
            font-size: 4em;
            font-weight: 800;
            letter-spacing: -5px;
            line-height: 1;
            opacity: 70%;
            animation: fadeInDown 1s ease-out forwards; 
            
        }
        p{
            opacity: 0%;
            animation: fadeInDown 1s ease-out forwards; 
            animation-delay: 0.3s;
        }

        .imageContainer {
            width: 35vw;
            height: 28vw;
            overflow: hidden;
            transform: translatey(5rem);
            @include mixins.floating;
            opacity: 0%;
            animation: fadeInUp 1s ease-out forwards; 

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

main {
    margin: 6em 1em;
    @include mixins.between;
    .imageContainer {
        width: 300px;
        height: 300px;
        overflow: hidden;
        @include mixins.floating;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}



